<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>

	<h3 th:text="${titulo}"></h3>
	<hr>
	
	<a th:href="@{/form-cuenta}">Registra una cuenta</a>
	
	<br>
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Numero de cuenta</th>
				<th>Numero de telefono</th>
				<th>Fecha actual</th>
				<th>Saldo</th>
			</tr>
		</thead>
		<tbody>
		<p th:if="${cuentas.isEmpty()}"> No hay cuentas en la base de datos </p>
		<tr th:each="cuenta: ${cuentas}"></tr>
		<tr th:each="cuenta: ${cuentas}">
			<td th:text="${cuenta.getNombre()}"></td>
			<td th:text="${cuenta.getNumeroDeCuenta()}"></td>
			<td th:text="${cuenta.getNumeroTelefono()}"></td>
			<td th:text="${cuenta.getDiaCreacion()}"></td>
			<td th:text="${cuenta.getSaldo()}"></td>
		</tr>
		</tbody>
	</table>
</body>
</html>