<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}">Insert title here</title>
</head>
<body>
	<hr3 th:text="${titulo}"></hr3>

	<tbody>
		<p th:if="${result}" th:text="${mensaje}"></p>
		<p th:if="${result}" th:each="err : ${errList}">
			<span th:text="$err"></span>
		</p>
		<div>
			<form th:action="@{/form-cuenta}" th:object="${cuenta}" method="post">
				<table>
					<tr>
					<tr>
					</tr>
						<td>Nombre del cliente</td>
						<td><input type="text" th:field="*{nombre}"></td>
						<div th:if="${#fields.hasErrors('nombre')}" th:errors"*{nombre}"></div>
					</tr>
						<td>Numero de cuenta</td>
						<td><input type="text" th:field="*{numeroDeCuenta}"></td>
					</tr>
					<tr>
						<td>Numero de telefono</td>
						<td><input type="text" th:field="*{numeroTelefono}"></td>
						<div th:if="${#fields.hasErrors('numeroTelefono')}" th:errors"*{numeroTelefono}"></div>
					</tr>
					</tr>
						<td>Fecha actual (yyyy-mm-dd)</td>
						<td><input type="text" th:field="*{diaCreacion}"></td>
					</tr>
				</table>
				
				<br><input type="submit" value="Registrar cuenta "/>
			</form>
		</div>
	</tbody>
</body>
</html>