<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>

	<h3 th:text="${titulo}"></h3>
	<hr>
	
	<a th:href="@{/form-tarjeta}">Registrar tarjeta</a>
	
	<br>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Numero de tarjeta</th>
				<th>ICV</th>
				<th>Nombre</th>
				<th>Cuenta</th>
			</tr>
		</thead>
		<tbody>
		<p th:if="${tarjetas.isEmpty()}"> No hay tarjetas en la base de datos </p>
		<tr th:each="tarjeta: ${tarjetas}"></tr>
		<tr th:each="tarjeta: ${tarjetas}">
			<td th:text="${tarjeta.getIdTarjeta()}"></td>
			<td th:text="${tarjeta.getNumeroTarjeta()}"></td>
			<td th:text="${tarjeta.getIcv()}"></td>
			<td th:text="${tarjeta.getNombre()}"></td>
			<td th:text="${tarjeta.getCuenta()}"></td>
			<td><a th:href="@{/form-tarjeta/} + ${tarjeta.getId()}" th:text="'Editar'"></a></td>
			<td><a th:href="@{/eliminar/} + ${tarjeta.getId()}" th:text="'Eliminar'" onclick="return confirm('¿Desea eliminar la tarjeta?');"></td>
		</tr>
		</tbody>
	</table>
</body>
</html>