<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}">Cuenta</title>
<link href="../static/css/layout.css" th:href="@{/css/Layout.css}" 
		rel="stylesheet"/>
</head>
<body>
	<h3 th:text="${titulo}"></h3>

	<tbody>
		<p th:if="${result}" th:text="${mensaje}"></p>
		<p th:if="${result}" th:each="err : ${errList}">
			<span th:text="${err}"></span>
		</p>
		<div>
			<form th:action="@{/form-cuenta}" th:object="${cuenta}" method="post">
				<table>
					<tr>
						<td>Nombre</td>
						<td><input type="text" th:field="*{nombre}"></td>
						<div th:if="${#fields.hasErrors('nombre')}" th:errors"*{nombre}"></div>
					</tr>
					<tr>
						<td>Numero de cuenta</td>
						<td><input type="text" th:field="*{numeroDeCuenta}"></td>
					</tr>
					<tr>
						<td>Numero de telefono</td>
						<td><input type="text" th:field="*{numeroTelefono}"></td>
						<div th:if="${#fields.hasErrors('numeroTelefono')}" th:errors"*{numeroTelefono}"></div>
					</tr>
					<tr>
						<td>Fecha actual</td>
						<td><input type="date" th:field="*{diaCreacion}"></td>
					</tr>
					<tr>
						<td>Saldo de la cuenta</td>
						<td><input type="number" th:field="*{saldoActual}"></td>
					</tr>
				</table>
				
				<br><input type="submit" value="Registrar cuenta"/>
			</form>
		</div>
	</tbody>
	<br><a th:href="@{/cuentas-lista}">Lista de cuentas</a>
	<br><a th:href="@{/}">Volver al inicio</a>
</body>
</html>